#tabs label {
    width:100px;
    display:inline-block;
}
#tabs input {
    width:115px;
    display:inline-block;
}
#tabs .ui-slider {
    margin-left:15px;
    width:385px;
    display:inline-block;
}
#tabs .ui-button {
    margin-bottom:15px;
    width:200px;
}
