#tabs label {
    width:100px;
    display:inline-block;
}
#tabs input {
    width:100px;
    display:inline-block;
}
#tabs .ui-slider {
    margin-left:25px;
    width:400px;
    display:inline-block;
}